@import "~@cycjimmy/sass-lib";

%blackBorder {
  border: 1px solid black;
}

.helloWrapper {
  @extend %flexCenter;
  width: 500px;
  height: 300px;
  margin: auto;

  @extend %blackBorder;
}

.hello {
  @extend %flexCenter;
  width: 80%;
  height: 80%;

  @extend %blackBorder;
}
