name: Test CI
on:
  push:

  pull_request:
    branches:
      - master
      - main
      - next
      - next-major
      - alpha
      - beta

  schedule:
    - cron: 0 2 * * 0

permissions:
  id-token: write
  contents: write

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        node: [ 24 ]
        os: [ubuntu-latest, windows-latest, macOS-latest]

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v5
        with:
          node-version: ${{ matrix.node }}
      - run: npm ci
      - run: npm test
      - run: npm run package

      - name: Semantic Release Test
        uses: cycjimmy/semantic-release-action@v6
        with:
          dry_run: true
          branches: |
            [
              'master',
              'main',
              'next',
              'next-major',
              {
                name: 'beta',
                prerelease: true
              },
              {
                name: 'alpha',
                prerelease: true
              }
            ]
          extra_plugins: |
            @semantic-release/git
            @semantic-release/changelog
            @semantic-release/exec
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
